<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for message.user %>
      </div>
      <div class="col-md-10">
        <p class="card-text">
          <span class="text-muted"><%= message.user.name %> at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
      <div class="col-md-1 delete-message">
        <% if message.user == current_user %>
          <a class='btn btn-danger' id="message-X" href='#' data-message-id="<%= message.id %>">X</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
